@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-bottom: 100px !important;
}

.is-error {
    font-size: 10px;
    color: red;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}


.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}

.overflow-hidden {
	overflow: hidden;
}

img {
	width: 100% !important;
}
